#countdown {
    height: 50rem;
}

.c-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2  {width: 42rem; margin-bottom: 2rem;}
    p   {width: 28rem; margin-bottom: 2rem;}
}

.c-content {
    position: relative;

    #img-map {position: absolute; right: 0; left: 0; margin: auto;}
}

.c-flex-item {
    margin-top: 4rem;
    margin-bottom: 4rem;
    .c-numbers {color: #F23779 !important; font-size: 34pt; font-weight: 700; font-family: 'Poppins';}
}

.c-grid {
    position: relative;
    width: 40vw;
    margin: auto;
    padding: 3rem;
    border-radius: 8px;
    background-color: #ffffff !important;
    box-shadow: 2px 3px 8px #00000042;
    display: grid;
    grid-template-areas:    "a c"
                            "b c";

    .c-1 {grid-area: a; font-family: 'Poppins';}
    .c-2 {grid-area: b;}
    .c-3 {grid-area: c; display: flex; justify-self: center; align-self: center;}
}


@media (max-width: 1024px) {
    #countdown {
        height: 50rem;
        overflow: hidden; 
    }
    
    .c-heading {
    
        h2  {width: 60vw; margin-bottom: 2rem;}
        p   {width: 50vw; margin-bottom: 2rem;}
    }

    .c-grid {
        position: relative;
        width: 70vw;
    }
}

@media (max-width: 768px) {
    #countdown {
        height: 40rem;
    }


    .c-heading {
    
        h2  {width: 60vw; margin-bottom: 2rem;}
        p   {width: 55vw; margin-bottom: 2rem;}
    }

    .c-grid {
        position: relative;
        width: 80vw;
        padding: 2rem;
    }

    .c-flex-item {
        margin-top: 2rem;
        margin-bottom: 4rem;
        .c-numbers {font-size: 28pt;}
    }

}


@media (max-width: 500px) {
    #countdown {
        height: 33rem;
        overflow: hidden; 
    }
    
    .c-content {
        position: relative;
    
        #img-map {position: absolute; right: 0; left: 0; margin: auto; height: 10rem;}
    } 

    .c-heading {
    
        h2  {width: 90vw; margin-bottom: 1rem;}
        p   {width: 90vw; margin-bottom: 1rem;}
    }

    .c-grid {
        position: relative;
        width: 80vw;
        padding: 2rem;
    }

    .c-flex-item {
        margin-top: 2rem;
        margin-bottom: 4rem;
        .c-numbers {font-size: 18pt;}
        .c-text {font-size: 10pt;}
    }

    .c-grid {
        position: relative;
        width: 80vw;
        text-align: center;
        margin: auto;
        padding: 1rem;
        border-radius: 8px;
        background-color: #ffffff !important;
        box-shadow: 2px 3px 8px #00000042;
        display: grid;
        grid-template-areas:    "a"
                                "b"
                                "c";
    
        .c-1 {grid-area: a; font-family: 'Poppins';}
        .c-2 {grid-area: b;}
        .c-3 {grid-area: c; display: flex; justify-self: center; align-self: center;}
    }
}