.cta-bg {
    background-image: url(/images/Bg_cta.png);
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10vh;

    h3 {color: #ffffff; width: 35vw;}
}