#effective-tools {
   overflow: hidden;
}

.e-text {
    width: 23vw;

    h2  {margin-bottom: 2rem;}
    p   {margin-bottom: 2rem;}
}

.e-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4rem;
}

.e-grid-item {
    width: 12vw;

    img {height: 4.5rem; margin-bottom: 1rem;}
    h5 {margin-bottom: 2rem;}
}

@media (max-width: 1024px) {
    .e-text {
        width: 40vw;
    
        h2  {margin-bottom: 2rem;}
        p   {margin-bottom: 2rem;}
    }

    .e-grid-item {
        width: 20vw;
    
        img {height: 4.5rem; margin-bottom: 1rem;}
        h5 {margin-bottom: 2rem;}
    }
    
}


@media (max-width: 768px) {
    .e-text {
        width: 40vw;
    
        h2  {margin-bottom: 2rem;}
        p   {margin-bottom: 2rem;}
    }

    .e-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2rem;
    }

    .e-grid-item {
        width: 20vw;
    
        img {height: 3.5rem; margin-bottom: 1rem;}
        h5 {margin-bottom: 1rem;}
        p { font-size: 10pt !important;}
    }
}


@media (max-width: 500px) {
    #effective-tools {
        flex-direction: column;
    }

    .e-text {
        width: 80vw;
    
        h2          {margin-bottom: 1rem;}
        p           {margin-bottom: 1rem;}
        button      {margin-bottom: 2rem;}
    }

    .e-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
    }

    .e-grid-item {
        width: 40vw;
    
        img {height: 3.5rem; margin-bottom: 1rem;}
        h5 {margin-bottom: 1rem;}
        p { font-size: 10pt !important;}
    }
}