#logos {
    height: 40vh;
    align-items: center;
}

.logo {
    height: 3rem;
    filter: grayscale(100%);
}

@media (max-width: 1024px) {
    #logos {
        height: 15rem;
        align-items: center;
    }
    
    .logo {
        height: 2rem;
    }
}


@media (max-width: 768px) {
    #logos {
        height: 15rem;
        align-items: center;
    }
    
    .logo {
        height: 1.8rem;
    }
}


@media (max-width: 500px) {
    #logos {
        height: 7rem;
        align-items: center;
    }
    
    .logo {
        height: 1rem;
    }
}