.statistics {
    min-height: 22rem;
    width: 100%;
}

#map {
    position: absolute;
    height: 12rem;
    width: 100%;
}

.statistics-text {
    margin-top: 3vw;
    flex-direction: column;
}

.s-text {
    flex-direction: column;
    h3 {margin-bottom: 1rem !important;}
}

.s-numbers {
    margin-top: 1rem;
    width: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.s-numbers-text {
    width: 10rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s-numbers-text > h4{
    color: #3096FE;
    font-size: 18pt !important;
    margin: 0;
}

.s-numbers-text > p{
    color: #333333;
    font-size: 10pt;
    font-weight: 400;
    display: flex;
    align-self: center;
}



@media (min-width: 767px) {

    .statistics-text {
        margin-top: 3vw;
        flex-direction: column;
        gap: 3rem;
    }

    .s-numbers {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}




@media (min-width: 1024px) {
    .s-text {
        width: 50vw;
    }

    .s-numbers {
        width: 70vw;
    }
}




@media (min-width: 1200px) {

    .statistics {
        height: 30rem;
        width: 100%;
    }
    
    #map {
        position: absolute;
        height: 20vw;
    }
    
    .statistics-text {
        gap: 2rem;
    }
    
    .s-text {
        width: 40vw;
        gap: 2rem;
    }
    .s-numbers-text {
        width: 12rem;
        height: 8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5vw;
    }
    .s-numbers {
        width: 60vw;
    }
    
    .s-numbers-text > h4 {
        font-size: 2.2vw !important;
    }

    .s-numbers-text > p {
        font-size: 18pt !important;
        font-weight: 500;
    }
 
}