.about {
  height: 60rem;
  width: 100%;
}

.about-us-content {
  height: inherit;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.img_rings {
  height: 22rem;
  width: 22rem;
  position: relative;
  overflow: hidden;
}

#rings {
  height: 18rem;
  position: absolute;
  animation: rotate 12s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

#iphone2 {
  height: 20rem;
  position: absolute;
}

/* about us text start */
.about-us-text {
  position: relative;
  height: 34rem;
  width: 100%;
  flex-direction: column;
}

.about-us-text button {
  margin-bottom: 1.5rem;
}

.about-us-text h3 {
  margin-bottom: 1.5rem !important;
}

.btn-light-yellow > a {
  color: #FFBB00 !important;
  font-size: 11pt;
}

.btn-light-yellow {
  background-color: #ffbb0026;
  border: 3px solid transparent;
  padding: 3px;
  text-align: center;
  border-radius: 7px;
  width: 6rem;
  transition: background-color 0.5s ease-out;
}

.btn-light-yellow:hover {
  background-color: transparent;
  border: 3px solid #FFBB00;
  transition: 0.5s ease-in;
}

.about-us-apps {
  width: 100%;
  height: 5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
  flex-direction: row;
}

.play-btn {
  background-color: #F8F8F8;
  box-shadow: 3px 3px 6px transparent;
  border-radius: 10px;
  width: 10rem;
  height: 18vw;
  margin-right: 0.7rem;
  display: grid;
  grid-template-areas: "a b" "a c";
  transition: all 0.5s ease-in-out;
}

.play-logo {
  width: 7vw;
  margin-right: 0.5rem;
  grid-area: a;
}

.play-text1 {
  grid-area: b;
  color: #6B6B6B !important;
  font-size: 10pt !important;
  text-align: left;
}

.play-text2 {
  grid-area: c;
  font-size: 14pt !important;
  color: #111111 !important;
  font-weight: 600 !important;
  text-align: left;
}

.play-btn:hover {
  box-shadow: 3px 3px 6px #11111182;
  cursor: pointer;
}

/* about us text stop*/
@media (min-width: 768px) {
  .about-us-content {
    gap: 3rem;
  }
  .img_rings {
    height: 24rem;
    width: 24rem;
  }
  #rings {
    height: 20rem;
  }
  #iphone2 {
    height: 22rem;
  }
  .about-us-text {
    height: 32rem;
    width: 80vw;
    gap: 2rem;
  }
  .about-us-apps {
    height: 5rem;
    gap: 2rem;
  }
  .play-btn {
    width: 17rem;
    height: 6rem;
    column-gap: 2rem;
  }
  .play-logo {
    width: 2rem;
  }
  .play-text1 {
    font-size: 11pt !important;
  }
  .play-text2 {
    font-size: 20pt !important;
  }
}

@media (min-width: 1024px) {
  .about {
    height: 42rem;
  }
  .about-us-content {
    height: inherit;
    flex-direction: row;
    position: relative;
  }
  .img_rings {
    height: 20rem;
    width: 24rem;
  }
  #rings {
    height: 18rem;
  }
  #iphone2 {
    height: 20rem;
  }
  .about-us-text {
    height: 32rem;
    width: 30rem;
    gap: 1.5rem;
  }
  .about-us-apps {
    height: 5rem;
    gap: 2rem;
  }
  .play-btn {
    width: 15rem;
    height: 5rem;
    column-gap: 1rem;
  }
  .play-logo {
    width: 2rem;
  }
  .play-text1 {
    font-size: 11pt !important;
  }
  .play-text2 {
    font-size: 20pt !important;
  }
}

@media (min-width: 1200px) {
  .about {
    height: 50rem;
  }
  .about-us-content {
    justify-content: space-between;
  }
  .img_rings {
    height: 70vh;
    width: 70vh;
    margin-left: -10vw;
  }
  #rings {
    height: 55vh;
  }
  #iphone2 {
    height: 60vh;
  }
  .about-us-text {
    width: 33vw;
  }
  .about-us-text h3 {
    margin-bottom: 0 !important;
  }
  .btn-light-yellow {
    padding: 8px 5px;
    width: 8rem;
    margin-bottom: 0 !important;
  }
  .about-us-apps {
    height: 8rem;
    gap: 2rem;
    margin-top: 0;
  }
  .play-btn {
    width: 15rem;
    height: 5.5rem;
    border-radius: 15px;
    column-gap: 1rem;
  }
  .play-logo {
    width: 2em;
  }
  .play-text1 {
    font-size: 0.9em !important;
  }
  .play-text2 {
    font-size: 1.5em !important;
  }
}

.banner {
  background-image: url(../images/Bg_download.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
  overflow: hidden;
}

.banner-content {
  height: inherit;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

.banner-text {
  flex-direction: column;
  margin-top: 10vw;
}

.banner-text > h2, .banner-text > p {
  color: #fff;
  margin: 0;
  margin-bottom: 2rem;
}

.banner-text > .about-us-apps {
  justify-content: center;
  margin-top: 2rem;
}

.phones {
  position: relative;
  height: 15rem;
  width: 18rem;
}

#iphone-f {
  position: absolute;
  height: 15rem;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.slide1 {
  position: absolute;
  height: 13rem;
  bottom: 0;
  left: 0;
  transform: translate(50%);
  transition: 0.5s ease-in;
}

.slide1.slide-in1 {
  transform: translate(0%);
}

.slide2 {
  position: absolute;
  height: 13rem;
  bottom: 0;
  right: 0;
  transform: translate(-50%);
  transition: 0.5s ease-in;
}

.slide2.slide-in2 {
  transform: translate(0%);
}

@media (min-width: 768px) {
  .banner-text {
    flex-direction: column;
    text-align: center;
    width: 80vw;
  }
  .banner-text {
    margin-top: 5vw;
  }
}

@media (min-width: 1024px) {
  .banner-text {
    width: 60vw;
  }
}

@media (min-width: 1200px) {
  .banner {
    height: 65vh;
  }
  .banner-content {
    height: inherit;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
  }
  .banner-text {
    flex-direction: column;
    gap: 2rem;
    text-align: left;
    margin-top: 0;
    width: 40vw;
  }
  .banner-text > p {
    width: 33vw;
  }
  .banner-text > h2 {
    margin-bottom: 0 !important;
  }
  .banner-text > .about-us-apps {
    justify-content: flex-start;
    margin-top: 0 !important;
  }
  .phones {
    position: relative;
    height: inherit;
    width: 25vw;
  }
  #iphone-f {
    position: absolute;
    height: 45vh;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
  .slide1 {
    position: absolute;
    height: 40vh;
    bottom: 0;
    left: 0;
    transform: translate(50%);
    transition: 2s ease-in;
  }
  .slide1.slide-in1 {
    transform: translate(0%);
  }
  .slide2 {
    position: absolute;
    height: 40vh;
    bottom: 0;
    right: 0;
    transform: translate(-50%);
    transition: 2s ease-in;
  }
  .slide2.slide-in2 {
    transform: translate(0%);
  }
}

.contact {
  height: 40rem;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
}

.contact-text {
  flex-direction: column;
  gap: 1rem;
}

.contact-form {
  display: grid;
  gap: 0.5rem;
  grid-template-areas: "a b" "c c" "d d";
}

.box1 {
  /* width: 29.5vw; */
  grid-area: a;
}

.box2 {
  /* width: 29.5vw; */
  grid-area: b;
}

.box3 {
  /* width: 60vw; */
  grid-area: c;
}

.box4 {
  grid-area: d;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  background-color: #3096FE;
  font-size: 16pt;
  color: white;
  padding: 8px 70px;
  border: 5px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}

.box4:hover {
  background-color: #3097fe13;
  border: 5px solid #3096FE;
  font-weight: bold;
}

.box4:hover > a {
  color: #3096FE !important;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 20px;
  border: none;
  background-color: #FBFBFB;
  border-radius: 10px;
  box-sizing: border-box;
  resize: vertical;
}

input[type=text], textarea::placeholder {
  color: #cccccc;
}

input[type=text]::placeholder {
  color: #cccccc;
}

@media (min-width: 1024px) {
  .contact {
    width: 70vw;
  }
  .contact-text {
    width: 60vw;
    flex-direction: column;
    gap: 1vw;
  }
  .contact-form-content {
    width: 60vw;
  }
}

@media (min-width: 1200px) {
  .contact {
    height: 45vw;
    width: 100%;
    flex-direction: column;
    gap: 3vw;
  }
  .contact-text {
    width: 35vw;
    flex-direction: column;
    gap: 1vw;
  }
  .contact-form-content {
    width: 60vw;
  }
  .contact-form {
    width: 40vw;
    display: grid;
    gap: 0.5vw;
    grid-template-areas: "a b" "c c " "d d";
  }
  .box1 {
    width: 29.5vw;
    grid-area: a;
  }
  .box2 {
    width: 29.5vw;
    grid-area: b;
  }
  .box3 {
    width: 60vw;
    grid-area: c;
  }
  .box4 {
    grid-area: d;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 25px;
    border: none;
    background-color: #FBFBFB;
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;
  }
  input[type=submit] {
    text-align: center;
    background-color: #3096FE;
    font-size: 16pt;
    color: white;
    padding: 8px 70px;
    border: 5px solid transparent;
    border-radius: 10px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #3097fe13;
    border: 5px solid #3096FE;
    color: #3096FE;
    font-weight: bold;
  }
}

.features {
  height: 70rem;
  width: 100%;
  background-color: #f5f5f550;
  position: relative;
}

#dotts {
  position: absolute;
}

.features-content-img-text {
  flex-direction: column;
}

.features-content-text {
  flex-direction: column;
  position: relative;
}

.features-content-b-h1-p {
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.features-content-b-h1-p button {
  margin-bottom: 1.5rem;
}

.features-content-b-h1-p h3 {
  margin-bottom: 1.5rem !important;
}

.features-content-icons {
  display: grid;
  gap: 2.5rem;
}

.icons {
  align-items: center;
  gap: 1rem;
  width: 18rem;
}

.icon-bg {
  display: flex;
  justify-content: center;
  height: 3rem;
  width: 5rem;
  background-color: #ffbb0024;
  border-radius: 8px;
  margin: 0.5rem;
}

.icons-bg > img {
  height: 2em;
}

.f-1 {
  font-size: 16pt;
  font-weight: 700;
  color: #333333 !important;
  line-height: 1.5 !important;
}

.f-2 {
  font-size: 11pt;
  font-weight: 300;
  color: #8A8A8A !important;
  line-height: 1.5 !important;
}

.features-iphones {
  position: relative;
  height: 20rem;
  width: 100%;
}

#bg-yb {
  position: absolute;
  height: 12rem;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

#iphone-back {
  position: absolute;
  height: 13rem;
  left: 46%;
  top: 40%;
  transform: translate(-50%, -50%);
  animation: rotate2 5s infinite ease-in-out;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

#iphone-front {
  position: absolute;
  height: 15rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg) translate(-50%, -40%);
  }
  25% {
    transform: rotate(-15deg) translate(-50%, -45%);
  }
  50% {
    transform: rotate(-30deg) translate(-50%, -50%);
  }
  75% {
    transform: rotate(-15deg) translate(-50%, -45%);
  }
  100% {
    transform: rotate(0deg) translate(-50%, -40%);
  }
}

@media (min-width: 768px) {
  .features {
    height: 65rem;
  }
  .features-content-img-text {
    gap: 3rem;
  }
  .features-content-text {
    gap: 3rem;
  }
  .features-content-b-h1-p {
    gap: 2rem;
  }
  .features-content-icons {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .features-iphones {
    height: 22rem;
    width: 26rem;
  }
  #bg-yb {
    height: 17rem;
  }
  #iphone-back {
    height: 18rem;
  }
  #iphone-front {
    height: 20rem;
  }
  @keyframes rotate2 {
    0% {
      transform: rotate(0deg) translate(-50%, -40%);
    }
    25% {
      transform: rotate(-15deg) translate(-50%, -45%);
    }
    50% {
      transform: rotate(-30deg) translate(-50%, -55%);
    }
    75% {
      transform: rotate(-15deg) translate(-50%, -45%);
    }
    100% {
      transform: rotate(0deg) translate(-50%, -40%);
    }
  }
}

@media (min-width: 1024px) {
  .features-content-text {
    width: 70vw;
  }
}

@media (min-width: 1200px) {
  .features {
    height: 52rem;
  }
  .features-content-img-text {
    flex-direction: row;
  }
  .features-content-text {
    width: 40vw;
    gap: 1.5rem;
  }
  .features-content-b-h1-p {
    gap: 1rem;
    width: 32vw;
  }
  .features-content-b-h1-p h3 {
    margin-bottom: 0 !important;
  }
  .features-content-icons {
    display: grid;
    gap: 1.5rem;
  }
  .icons {
    line-height: 1 !important;
    width: 19vw;
  }
  .f-1 {
    font-size: 18pt;
  }
  .f-2 {
    font-size: 12pt;
    font-weight: 300;
    color: #8A8A8A !important;
    line-height: 1.5 !important;
  }
  .features-iphones {
    height: 60vh;
    width: 65vh;
    margin-right: -10vw;
  }
  #bg-yb {
    height: 40vh;
  }
  #iphone-back {
    height: 43vh;
  }
  #iphone-front {
    height: 48vh;
  }
  @keyframes rotate2 {
    0% {
      transform: rotate(0deg) translate(-45%, -40%);
    }
    25% {
      transform: rotate(-15deg) translate(-45%, -45%);
    }
    50% {
      transform: rotate(-30deg) translate(-45%, -55%);
    }
    75% {
      transform: rotate(-15deg) translate(-45%, -45%);
    }
    100% {
      transform: rotate(0deg) translate(-45%, -40%);
    }
  }
}

.footer {
  background-image: url(../images/Bg_footer.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 13rem;
}

.footer-content img {
  height: 3rem;
}

.footer-content {
  height: inherit;
  flex-direction: column;
}

.footer-menu {
  width: 100%;
  padding-left: 0 !important;
}

.footer-menu > li > a {
  color: #fff;
  font-size: 10pt;
  font-weight: 500;
}

.footer-menu > li {
  content: "";
  display: block;
  border-bottom: 4px solid transparent;
  transition: 0.3s ease-out;
}

.footer-menu > li:hover {
  color: #fff;
  font-weight: 500;
  content: "";
  display: block;
  border-bottom: 4px solid #FFBB00;
  transition: 0.3s ease-in;
}

.icons {
  min-width: 15vw;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgba(255, 255, 255, 0.28);
  border-radius: 12px;
  border: 4px solid transparent;
  transition: 0.3s ease-out;
}

.icon-box:hover {
  border: 4px solid rgba(255, 255, 255, 0.7);
  background-color: #FFBB00;
  transition: 0.3s ease-in;
}

.icon-box > a {
  font-size: 16pt;
  color: #fff;
}

@media (min-width: 768px) {
  .footer-menu {
    width: 50vw;
  }
}

@media (min-width: 1024px) {
  .footer-menu {
    width: 45vw;
  }
}

@media (min-width: 1200px) {
  .footer {
    background-image: url(../images/Bg_footer.png);
    width: 100%;
    height: 14rem;
  }
  .img10 {
    position: absolute;
    z-index: -1;
    height: inherit;
    width: 100%;
  }
  .footer-content {
    height: inherit;
    flex-direction: column;
  }
  .footer-menu {
    width: 42rem;
  }
  .footer-menu > li > a {
    color: #fff;
    font-size: 20pt !important;
    font-weight: 500;
  }
  .footer-menu > li {
    content: "";
    display: block;
    border-bottom: 4px solid transparent;
    transition: 0.5s ease-out;
  }
  .footer-menu > li:hover {
    color: #fff;
    font-weight: 500;
    content: "";
    display: block;
    border-bottom: 4px solid #FFBB00;
    transition: 0.5s ease-in;
  }
}

/* header start */
header {
  height: 60rem;
  overflow: hidden;
}

.header-content {
  background-image: url(../images/bg_blue_mobile.png);
  height: 35rem;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}

/* menu start */
.menu-desktop {
  display: none;
}

.logo {
  height: 3rem;
}

/* menu stop */
/* content start */
.showcase {
  height: 45rem;
}

.showcase-content {
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 17rem;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.showcase-content > p {
  color: #fff !important;
  font-family: 'Poppins', sans-serif !important;
}

.download {
  flex-direction: row;
  color: white;
}

.button2 > a {
  color: white;
  font-weight: 500;
  font-size: 12pt;
}

.button2 {
  background-color: transparent;
  border: 3px solid #fff;
  padding: 5px 15px;
  text-align: center;
  border-radius: 12px;
  transition: background-color 0.5s ease-out;
  margin-right: 1.5rem;
}

.button2:hover {
  background-color: #FFBB00;
  border: 3px solid transparent;
  transition: 0.4s ease-in-out;
}

.watch-link {
  text-align: center;
  height: 2.5rem;
  padding-right: 0.5em;
  background-color: transparent;
  border-radius: 45px;
  box-shadow: 0 0 8px 2px transparent;
  transition: 0.5s ease-in-out !important;
}

.watch-link img {
  margin-right: 1.2rem;
}

.watch-link:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.129);
  border-radius: 45px;
  box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.32);
}

.watch-link:hover > #play-text {
  margin-left: -0.8rem !important;
  color: white;
  text-shadow: 2px 2px 4px #0000002c;
  transition: 0.8s ease !important;
}

#play-icon {
  height: 2.5rem;
}

#play-text {
  color: #fff;
  font-size: 11pt;
  font-weight: 500;
  transition: 0.6s ease-out;
  margin: auto;
}

/* content stop */
.showcase-img {
  margin: auto;
  height: 22rem;
  width: 16rem;
  position: relative;
}

#iphone1 {
  height: 18rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(100vw);
  animation: phone-slide1 1.5s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

#iphone1-1 {
  height: 18rem;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(100vw);
  animation: phone-slide2 1.5s linear;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes phone-slide1 {
  0% {
    transform: rotate(-20deg) translate(100vw);
  }
  50% {
    transform: scale(0.8) rotate(10deg) translate(50vw);
  }
  100% {
    transform: translate(0%);
  }
}

@keyframes phone-slide2 {
  0% {
    transform: rotate(-20deg) translate(100vw, -50%);
  }
  50% {
    transform: scale(0.8) rotate(30deg) translate(50vw, -50%);
  }
  100% {
    transform: translate(0%);
  }
}

/* ec start */
.ec {
  position: relative;
  width: 100%;
  height: 4rem;
}

.ec-logo-img1:first-child, .ec-logo-img1:last-child {
  display: none;
}

.ec-logo-img:first-child, .ec-logo-img:last-child {
  display: none;
}

.ec-logo {
  height: 20vw;
  width: 100%;
  position: absolute;
  justify-content: space-between;
  padding: 10vw;
  overflow: hidden;
}

.ec-logo-img {
  height: 1rem;
  position: relative;
  animation-name: slide-around;
  animation-duration: 10s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 0s;
}

@keyframes slide-around {
  0% {
    left: -100vw;
  }
  100% {
    left: 100vw;
  }
}

.ec-logo1 {
  height: 20vw;
  width: 100%;
  position: absolute;
  justify-content: space-between;
  padding: 10vw;
  overflow: hidden;
}

.ec-logo-img1 {
  height: 1rem;
  position: relative;
  animation-name: slide-around2;
  animation-duration: 10s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 5s;
}

@keyframes slide-around2 {
  0% {
    left: -100vw;
  }
  100% {
    left: 100vw;
  }
}

/* ec stop */
@media (min-width: 768px) {
  header {
    height: 48rem;
  }
  .header-content {
    background-image: url(../images/bg_blue_tablet2.png);
    height: 38rem;
    width: 100%;
  }
  .logo {
    height: 4rem;
  }
  .showcase-content {
    width: 50vw;
  }
  .showcase-content > h1 {
    font-size: 26pt;
    font-weight: 700;
  }
  .showcase-content > p {
    width: 23rem;
  }
  .showcase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 33rem;
  }
  .ec-logo-img1:first-child {
    display: flex;
  }
  .ec-logo-img:first-child {
    display: flex;
  }
  .ec-logo {
    height: 10rem;
    width: 100%;
    position: absolute;
    justify-content: space-between;
    padding: 10vw;
    overflow: hidden;
  }
}

@media (min-width: 1024px) {
  header {
    height: 55rem;
  }
  .header-content {
    height: 50rem;
  }
  .logo {
    height: 4rem;
  }
  .showcase-content > h1 {
    font-size: 32pt;
    font-weight: 700;
  }
  .showcase-content > p {
    width: 28rem;
  }
  .showcase {
    height: 40rem;
  }
  .button2 > a {
    font-size: 14pt;
  }
  .button2 {
    padding: 5px 25px;
  }
  .watch-link {
    gap: 1.2rem;
    height: 3.2rem;
    padding-right: 0.5em;
  }
  #play-icon {
    height: 2.5rem;
  }
  #play-text {
    font-size: 14pt !important;
  }
  .showcase-img {
    margin: auto;
    height: 45vw;
    width: 35vw;
  }
  #iphone1 {
    height: 40vw;
  }
  #iphone1-1 {
    height: 40vw;
  }
}

@media (min-width: 1200px) {
  /* header start */
  header {
    height: 57rem;
  }
  .header-content {
    background-image: url(../images/blue_backgrund_crop.png);
    background-size: cover;
    background-position: center center;
    background-position-y: -4rem;
    height: 100vh;
  }
  /* menu start */
  .logo {
    height: 3.5rem;
  }
  .menu-wrap {
    display: none;
  }
  .menu {
    height: 8rem;
    align-items: center;
    padding: 0;
  }
  .menu-desktop {
    display: flex;
    align-items: center;
    height: inherit;
    z-index: 1;
  }
  .menu-list {
    flex-direction: row;
    margin: 0;
    gap: 2rem;
  }
  .menu-list-a {
    font-size: 14pt;
    font-weight: 500;
    color: #ffffff;
  }
  .menu-list-a:hover {
    color: #FFBB00 !important;
  }
  #active1 {
    color: #FFBB00 !important;
    content: "";
    display: block;
    width: 70%;
    border-bottom: 3px solid #FFBB00;
  }
  .button1 > a {
    color: white;
    font-weight: 500;
    font-size: 12pt;
  }
  .button1 {
    background-color: #FFBB00;
    border: 3px solid transparent;
    padding: 5px 30px;
    text-align: center;
    border-radius: 12px;
    transition: background-color 0.4s ease-in-out;
  }
  .button1:hover {
    background-color: transparent;
    border: 3px solid #fff;
  }
  /* menu stop */
  /* content showcase start */
  .showcase {
    height: 85vh;
    padding-top: 5vh;
  }
  .showcase-content {
    height: 85vh;
    justify-content: center;
    gap: 2rem;
    margin-top: -10vh;
  }
  .showcase-content > h1 {
    font-size: 3vw !important;
    margin: 0;
    font-weight: 700;
  }
  .showcase-content > p {
    width: 32vw;
  }
  .button2 > a {
    font-size: 16pt;
  }
  .button2 {
    padding: 10px 25px;
  }
  .watch-link {
    height: 3rem;
    padding-right: 0.5em;
  }
  #play-icon {
    height: 3rem;
    margin-right: 0;
  }
  #play-text {
    font-size: 16pt !important;
  }
  .showcase-img {
    margin: auto;
    height: 40vw;
    width: 30vw;
  }
  #iphone1 {
    height: 35vw;
  }
  #iphone1-1 {
    height: 35vw;
  }
  /* content showcase stop */
  .ec-logo-img1:first-child, .ec-logo-img1:last-child {
    display: flex;
  }
  .ec-logo-img:first-child, .ec-logo-img:last-child {
    display: flex;
  }
  .ec {
    position: relative;
    width: 100%;
    height: 15vw;
  }
  .ec-logo {
    height: 20vw;
    width: 100%;
    position: absolute;
    justify-content: space-between;
    padding: 5vw;
    overflow: hidden;
  }
  .ec-logo-img {
    height: 1.5rem;
    position: relative;
    animation-name: slide-around;
    animation-duration: 20s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
  }
  @keyframes slide-around {
    0% {
      left: -100vw;
    }
    100% {
      left: 100vw;
    }
  }
  .ec-logo1 {
    height: 20vw;
    width: 100%;
    position: absolute;
    justify-content: space-between;
    padding: 5vw;
    overflow: hidden;
  }
  .ec-logo-img1 {
    height: 1.5rem;
    position: relative;
    animation-name: slide-around2;
    animation-duration: 20s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 10s;
  }
  @keyframes slide-around2 {
    0% {
      left: -100vw;
    }
    100% {
      left: 100vw;
    }
  }
}

.menu {
  height: 4rem;
  padding-top: 0.6rem;
}

.menu-wrap {
  z-index: 4;
}

.menu-wrap .toggler {
  position: absolute;
  z-index: 5;
  cursor: pointer;
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 25%;
  opacity: 0;
}

/* Hamburger box - start */
.menu-wrap .hamburger {
  position: relative;
  z-index: 4;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25%;
}

/* Hamburger lines - start */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 70%;
  transition: all 0.5s ease-in;
}

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 5;
  top: -0.65rem;
  width: 100%;
  height: 3px;
  background: inherit;
  border-radius: inherit;
}

.menu-wrap .hamburger > div:after {
  top: 0.65rem;
}

/* Hamburger lines - stop */
/* Toggle animation - start */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
  transition: all 0.5s ease;
}

/* X-Transformation */
.menu-wrap .toggler:checked + .hamburger > div:before {
  top: 0;
  transform: rotate(90deg);
  box-shadow: none;
}

.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotation - hover */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
  transition: all 0.5s ease;
}

/* Main Menu*/
.menu-wrap .menu-content {
  visibility: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.menu-wrap .menu-content > div {
  background: #06284b;
  background: linear-gradient(270deg, rgba(13, 90, 167, 0.9) 0%, rgba(20, 136, 253, 0.9) 100%);
  box-shadow: 0 0 0 100vw #00000080;
  width: 55vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(100%);
  transition: all 0.5s ease-out;
}

.menu-wrap .menu-content > div > div > ul {
  padding-left: 0;
}

/* button */
.button1-1 > a {
  color: white;
  font-weight: 500;
  font-size: 12pt;
}

.button1-1 {
  background-color: #FFBB00;
  border: 3px solid transparent;
  padding: 3px 15px;
  text-align: center;
  border-radius: 12px;
  transition: background-color 0.5s linear;
}

.button1-1:hover {
  background-color: transparent;
  border: 3px solid #fff;
}

/* button stop */
.menu-wrap .menu-content > div > div {
  visibility: none;
  text-align: left;
  max-width: 60vw;
  max-height: 100vh;
  transition: all 0.5s ease-in;
}

.menu-wrap .menu-content > div > div > ul > li {
  visibility: none;
  list-style: none;
  color: #fff;
  font-weight: bold;
  padding: 1.2rem;
}

.menu-wrap .menu-content > div > div > ul > li > a {
  visibility: none;
  color: inherit;
  font-size: 16pt;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.menu-wrap .menu-content > div > div > ul > li > a:hover {
  color: #FFBB00 !important;
}

/* Show mwnu - Toggle */
.menu-wrap .toggler:checked ~ .menu-content {
  visibility: visible;
  opacity: 1;
}

.menu-wrap .toggler:checked ~ .menu-content > div {
  transform: scale(1);
  transition-duration: 0.5s;
}

.menu-wrap .toggler:checked ~ .menu-content > div > div {
  opacity: 1;
  transition: 0.5s ease-in;
}

@media (min-width: 768px) {
  .menu-wrap .menu-content > div {
    width: 40vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
  }
  .menu-wrap .menu-content > div > div {
    max-width: 60vw;
    max-height: 100vh;
  }
  .menu-wrap .menu-content > div > div > ul > li {
    font-weight: bold;
    padding: 3vh;
  }
  .menu-wrap .menu-content > div > div > ul > li > a {
    visibility: none;
    color: inherit;
    font-size: 2.5vw;
    text-decoration: none;
    transition: all 0.5s ease-out;
  }
}

@media (min-width: 1024px) {
  .menu {
    height: 6rem;
    padding-top: 3rem;
  }
  .menu-wrap .menu-content > div {
    width: 45vw;
    height: 100vh;
    padding-left: 2rem;
  }
  .menu-wrap .menu-content > div > div {
    max-width: 60vw;
    max-height: 130vw;
  }
  .menu-wrap .menu-content > div > div > ul > li {
    visibility: none;
    list-style: none;
    color: #fff;
    font-weight: bold;
    padding: 2rem;
  }
  .menu-wrap .menu-content > div > div > ul > li > a {
    font-size: 24pt;
  }
  .menu-wrap .toggler {
    width: 5rem;
    height: 5rem;
    border-radius: 25%;
  }
  .menu-wrap .hamburger {
    width: 5rem;
    height: 5rem;
  }
  /* Hamburger lines - start */
  .menu-wrap .hamburger > div {
    width: 100%;
    height: 6px;
    border-radius: 30%;
  }
  .menu-wrap .hamburger > div:before,
  .menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 5;
    top: -1.1rem;
    width: 100%;
    height: 6px;
    background: inherit;
    border-radius: inherit;
  }
  .menu-wrap .hamburger > div:after {
    top: 1.1rem;
  }
  /* Hamburger lines - stop */
}

.screens {
  height: 30rem;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.screens-text {
  flex-direction: column;
}

.screens-text h3 {
  margin-bottom: 1rem !important;
}

.swiper-container {
  width: 90vw;
  height: 15rem;
}

.swiper-wrapper {
  width: inherit;
  height: inherit;
}

.swiper-slide {
  background: transparent;
  opacity: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s linear;
}

.swiper-slide img {
  height: 8rem;
  margin-bottom: 1rem;
}

.swiper-slide-active {
  transform: scale(1.2);
  opacity: 100%;
}

.swiper-slide-next, .swiper-slide-prev {
  opacity: 70%;
}

.swiper-pagination-bullet {
  background-color: #9A9A9A !important;
  width: 0.3rem !important;
  height: 0.3rem !important;
  margin: 1rem !important;
}

.swiper-pagination-bullet-active {
  background-color: #1487FD !important;
}

@media (min-width: 768px) {
  .screens {
    height: 30rem;
  }
  .swiper-container {
    width: 70vw;
    height: 25rem;
  }
  .swiper-slide img {
    height: 10rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1024px) {
  .screens {
    height: 37rem;
  }
  .screens-text {
    width: 50vw;
    gap: 1rem;
  }
  .swiper-container {
    width: 70vw;
    height: 25rem;
  }
  .swiper-slide img {
    height: 15rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1200px) {
  .screens {
    height: 50rem;
  }
  .screens-text {
    width: 40vw;
    margin-bottom: 1rem;
  }
  .swiper-container {
    width: 70vw;
    height: 60vh;
  }
  .swiper-slide img {
    height: 40vh;
    margin-bottom: 3rem;
  }
  .swiper-pagination-bullet {
    width: 0.8rem !important;
    height: 0.8rem !important;
    margin: 1rem !important;
  }
}

.statistics {
  min-height: 22rem;
  width: 100%;
}

#map {
  position: absolute;
  height: 12rem;
  width: 100%;
}

.statistics-text {
  margin-top: 3vw;
  flex-direction: column;
}

.s-text {
  flex-direction: column;
}

.s-text h3 {
  margin-bottom: 1rem !important;
}

.s-numbers {
  margin-top: 1rem;
  width: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.s-numbers-text {
  width: 10rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.s-numbers-text > h4 {
  color: #3096FE;
  font-size: 18pt !important;
  margin: 0;
}

.s-numbers-text > p {
  color: #333333;
  font-size: 10pt;
  font-weight: 400;
  display: flex;
  align-self: center;
}

@media (min-width: 767px) {
  .statistics-text {
    margin-top: 3vw;
    flex-direction: column;
    gap: 3rem;
  }
  .s-numbers {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .s-text {
    width: 50vw;
  }
  .s-numbers {
    width: 70vw;
  }
}

@media (min-width: 1200px) {
  .statistics {
    height: 30rem;
    width: 100%;
  }
  #map {
    position: absolute;
    height: 20vw;
  }
  .statistics-text {
    z-index: 1;
  }
  .s-text {
    width: 40vw;
    gap: 1rem;
  }
  .s-numbers-text {
    width: 12rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vw;
  }
  .s-numbers {
    width: 60vw;
  }
  .s-numbers-text > h4 {
    font-size: 2.2vw !important;
  }
  .s-numbers-text > p {
    font-size: 18pt !important;
    font-weight: 500;
  }
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 8vw !important;
  font-weight: 700 !important;
  color: #fff !important;
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
}

h2 {
  font-size: 18pt;
  color: #333333;
  word-spacing: 2;
  line-height: 1.1;
}

h3 {
  font-size: 20pt !important;
  color: #333333;
  margin: 0 !important;
  line-height: 1.1;
}

p {
  font-size: 11pt;
  line-height: 1.7 !important;
  color: #8A8A8A;
  margin: 0 !important;
}

a {
  text-decoration: none !important;
  color: #ffffff !important;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none !important;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
  align-content: center;
}

.text-center {
  text-align: center;
}

.container1 {
  width: 90vw;
  margin: auto;
}

.container2 {
  width: 90vw;
  margin: auto;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 3vw;
  right: 2vw;
  z-index: 99;
  font-size: 0.8rem !important;
  border: 2px solid rgba(255, 255, 255, 0.654);
  outline: none;
  background-color: #1488fd8d;
  color: white;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  padding: 0.3rem 0.3rem;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #1488fd;
}

@media (min-width: 768px) {
  p {
    font-size: 12pt;
  }
  h1 {
    font-size: 4.2vw !important;
  }
  h2 {
    font-size: 5vw !important;
  }
  h3 {
    font-size: 26pt !important;
    margin: 0;
  }
  .container1 {
    width: 80vw;
    margin: auto;
  }
  .container2 {
    width: 80vw;
    margin: auto;
  }
  #myBtn {
    bottom: 5vw;
    right: 3vw;
    font-size: 1em !important;
    border: 2px solid rgba(255, 255, 255, 0.654);
    height: 2rem;
    width: 2rem;
  }
}

@media (min-width: 1024px) {
  p {
    font-size: 12pt;
  }
  h2 {
    font-size: 4vw !important;
  }
}

@media (min-width: 1200px) {
  .container1 {
    width: 70vw;
  }
  .container2 {
    width: 60vw;
  }
  h1 {
    font-size: 50pt;
    word-spacing: 0.3em;
  }
  h2 {
    font-size: 2.7vw !important;
    color: #333333;
    word-spacing: 2;
    line-height: 1.1;
  }
  h3 {
    font-size: 2.1vw !important;
    color: #333333;
    line-height: 1.1;
  }
  p {
    font-size: 14pt !important;
    line-height: 1.5;
    color: #8A8A8A;
  }
  a {
    font-size: 16pt !important;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 2vw !important;
    border: 2px solid rgba(255, 255, 255, 0.654);
    outline: none;
    background-color: #1488fd8d;
    color: white;
    cursor: pointer;
    height: 3vw;
    width: 3vw;
    padding: 0;
    border-radius: 50%;
  }
}
